body {
    background-color: #F5F5F5;
}


.titulo {
    text-align: center;
    text-shadow: 10px 10px 11px #000000;
}

h1 {
    font-size: 3.5em;
}

.descripcion {
    display: flex;
    margin-left: 40px;
}

.foto_perfil {
    max-width: 15em;
    max-height: 15em;
    border-radius: 20%;
    margin-top: 4em;
}

.parrafo_1 {
    width: 500px;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 1.2em;
    text-align: justify;
}

.habilidades_blandas {
    margin-left: 150px;
    padding-top: 20px;
    font-size: 1.2em;
    margin-top: 0.5em;
}

.proyectos {
    display: flex;
    margin-top: 40px;
    margin-left: 350px;
    font-size: 25px;
}

.enlace_proyectos{
    margin-left: 110px;
    justify-content: center;
}

.enlace_github {
    margin-left: 300px;
    margin-bottom: 60px;
}

.skills {
    display: flex;
    text-align: center;
}

.front {
    margin-left: 170px;
}

.back {
    margin-left: 80px;
}

.herramientas {
    margin-left: 80px;
    margin-bottom: 20px;
}

.hobbies {
    align-items: center;
    margin-top: 30px;    
}

.curriculum {
    text-align: center;
    margin-top: 40px;
}

.footer {
    background-color:#000000;
    color: #ffffff;
    height: 65px;
    max-width: 100%;
    text-align: center;
}